* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  color: #a0a0a0;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
  color: #000000;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2px;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5.82px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  color: #000000;
}

button {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  letter-spacing: 12.5px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 48px;
    line-height: 90%;
  }
  h2 {
    font-size: 16px;
    letter-spacing: 7px;
  }
}
.hero-section .slider {
  position: relative;
  background-image: url("../images/mobile-image-hero-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
}
.hero-section .slider .slider-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 112px;
  height: 56px;
  display: flex;
}
.hero-section .slider .slider-btn .next-btn, .hero-section .slider .slider-btn .prev-btn {
  background-color: #000000;
  width: 100%;
}
.hero-section .description {
  width: 100%;
  margin-block: 64px;
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-section .shop-now-btn {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .shop-now-btn img {
  width: 54px;
  height: 12px;
}

@media (min-width: 500px) {
  .hero-section .slider {
    background-image: url("../images/desktop-image-hero-1.jpg");
  }
}
@media (min-width: 600px) {
  .hero-section .slider .slider-btn {
    width: 160px;
    height: 80px;
  }
  .hero-section .description {
    padding-inline: 64px;
  }
  .hero-section .shop-now-btn {
    margin-top: 8px;
    justify-content: start;
    gap: 24px;
  }
}
@media (min-width: 1044px) {
  .hero-section {
    display: flex;
    flex-direction: row;
    height: 534px;
  }
  .hero-section .slider {
    height: 100%;
    max-width: 840px;
    flex: 840;
  }
  .hero-section .slider .slider-btn {
    transform: translateX(160px);
  }
  .hero-section .description {
    width: 100%;
    max-width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-block: 0;
    padding-inline: clamp(24px, 5vw, 100px);
    flex: 600;
  }
}
header {
  position: absolute;
  z-index: 10;
  padding: 48px 24px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: calc(50% + 48px);
}

@media (min-width: 600px) {
  header {
    padding-inline: 64px;
    width: calc(50% + 128px);
  }
}
@media (min-width: 1044px) {
  header {
    margin-inline: auto;
  }
}
.about-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}
.about-section .top-img,
.about-section .bottom-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-section .top-img {
  height: 238px;
  background-image: url("../images/image-about-dark.jpg");
}
.about-section .text-content {
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-section .bottom-img {
  height: 227px;
  background-image: url("../images/image-about-light.jpg");
}

@media (min-width: 600px) {
  .about-section {
    gap: 64px;
  }
  .about-section .top-img {
    height: 300px;
  }
  .about-section .text-content {
    padding-inline: 64px;
  }
  .about-section .bottom-img {
    height: 243px;
  }
}
@media (min-width: 1044px) {
  .about-section {
    height: 266px;
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .about-section .top-img,
  .about-section .text-content,
  .about-section .bottom-img {
    height: 100%;
    width: 100%;
  }
  .about-section .top-img {
    flex: 420px;
  }
  .about-section .text-content {
    flex: 580px;
    justify-content: center;
    padding-block: 16px;
    padding-inline: clamp(16px, 4vw, 48px);
  }
  .about-section .bottom-img {
    flex: 440px;
  }
}/*# sourceMappingURL=main.css.map */