$white: #FFFFFF;
$black: #000000;

$grey-800: #444444;
$grey-500: #A0A0A0;
$grey-200: #D8D8D8;
$grey-100: #EFEFEF;
$grey-50:  #FAFAFA;

$font-family-primary: 'League Spartan', sans-serif;

$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-medium: 500;

$font-size-preset-1: 48px;
$font-size-preset-2: 40px;
$font-size-preset-3: 16px;
$font-size-preset-4: 15px;

$line-height-preset-1: 90%;
$line-height-preset-2: 100%;
$line-height-preset-3-bold: 140%;
$line-height-preset-3-medium: 140%;
$line-height-preset-4: 100%;

$letter-spacing-preset-1: -2px;
$letter-spacing-preset-2: -2px;
$letter-spacing-preset-3-bold: 7px;
$letter-spacing-preset-3-semibold: -0.7px;
$letter-spacing-preset-3-medium: -0.5px;
$letter-spacing-preset-4: 12.5px;