@use "../utils/mixins" as *;

.about-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;

  .top-img,
  .bottom-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-img {
    height: 238px;
    background-image: url("../images/image-about-dark.jpg");
  }

  .text-content {
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .bottom-img {
    height: 227px;
    background-image: url("../images/image-about-light.jpg");
  }
}

@include tablet {
  .about-section {
    gap: 64px;

    .top-img {
      height: 300px;
    }
    .text-content {
      padding-inline: 64px;
    }
    .bottom-img {
      height: 243px;
    }
  }
}
@include desktop {
  .about-section {
    flex: 266;
    display: flex;
    flex-direction: row;
    gap: 0;
    .top-img,
    .text-content,
    .bottom-img {
      width: 100%;
      height: auto;
    }
    .top-img {
      flex: 465;
    }
    .text-content {
      flex: 535;
      justify-content: center;
      padding-block: 16px;
      padding-inline: clamp(16px, 4vw, 48px);
    }
    .bottom-img {
      flex: 487;
    }
  }
}
