@use "../base/variables" as *;
@use "../utils/mixins" as *;

header {
  position: absolute;
  z-index: 10;
  padding: 48px 24px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: calc(50% + 48px);

  .desktop-nav {
    display: none;
  }
}

@include tablet {
  header {
    padding-inline: 64px;
    width: calc(50% + 128px);
  }
}

@include desktop {
  header {
    .menu-toggle,
    .logo {
      display: none;
    }
    .desktop-nav {
      display: flex;
      align-items: center;
      gap: 56px;
      .logo {
        display: block;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        color: $white;
        li {
          font-size: $font-size-preset-3;
          font-weight: $font-weight-semibold;
          letter-spacing: $letter-spacing-preset-3-semibold;
        }
      }
    }
  }
}
