@use "../base/variables" as *;
@use "../utils/mixins" as *;

header {
  position: absolute;
  z-index: 10;
  padding: 48px 24px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: calc(50% + 48px);
  .mobile-nav {
    background-color: $white;
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 24px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      color: $black;
    }
  }
  .mobile-nav.open {
    transform: translateX(0);
  }
  .desktop-nav {
    display: none;
  }
  .overlay {
    display: none;
    position: fixed;
    background-color: $semi-black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
  }
}

@include tablet {
  header {
    padding-inline: 64px;
    width: calc(50% + 128px);
    .mobile-nav {
      padding-inline: 64px;
    }
  }
}

@include desktop {
  header {
    .menu-toggle,
    .logo {
      display: none;
    }
    .desktop-nav {
      display: flex;
      align-items: center;
      gap: 56px;
      .logo {
        display: block;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        color: $white;
      }
    }
  }
}
