@use "../base/variables" as *;
@use "../utils/mixins" as *;

.hero-section {
  .slider {
    position: relative;
    background-image: url("../images/mobile-image-hero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;

    .slider-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 112px;
      height: 56px;
      display: flex;

      .next-btn,
      .prev-btn {
        background-color: $black;
        width: 100%;
      }
    }
  }

  .description {
    width: 100%;
    margin-block: 64px;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .shop-now-btn {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 54px;
      height: 12px;
    }
  }
}

@include hero-img {
  .hero-section {
    .slider {
      background-image: url("../images/desktop-image-hero-1.jpg");
    }
  }
}

@include tablet {
  .hero-section {
    .slider {
      height: 400px;
      .slider-btn {
        width: 160px;
        height: 80px;
      }
    }
    .description {
      padding-inline: 64px;
    }
    .shop-now-btn {
      margin-top: 8px;
      justify-content: start;
      gap: 24px;
    }
  }
}

@include desktop {
  .hero-section {
    display: flex;
    flex-direction: row;
    height: 534px;
    .slider {
      height: 100%;
      max-width: 840px;
      flex: 840;
      .slider-btn {
        transform: translateX(160px);
        max-width: 234px;
      }
    }
    .description {
      width: 100%;
      max-width: 600px;
      height: 100%;
      align-items: center;
      justify-content: center;
      margin-block: 0;
      padding-inline: clamp(24px, 5vw, 100px);
      flex: 600;
    }
  }
}
